@{
    Page.Title = "Dashboard";
    Layout = "_Layout.cshtml";
}

<div>
    <h1>Dashboard</h1>
</div>

<div class="row" align="center">
    <div class="col-sm-6"><h2>Recente files:</h2></div>
    <div class="col-sm-6"><h2>News update:</h2></div>
</div> 