@using DDFrAS;
@using DDFrAS.DDFrAS;
@{
    Page.Title = "Title goes here";
    Layout = "_Layout.cshtml";
    string vlan = "";
    string manip = "";
    string username = "";
    string passwordssh = "";
    string terminal = "";
}

@{
    if (IsPost)
    {
        
        Newvdbinputs.Newvars(vlan, manip, username, passwordssh, terminal);
    }
}

<div>
    <h1>Voer in:</h1>
    <form type="post">
        <p>
            <label>Vlan:</label>
            <input class="form-control" name="vlan" />
        </p>
        <p>
            <label>Management IP:</label>
            <input name="manip"/>
        </p>
        <p>
            <label>Username SSH:</label>
            <input name="username"/>
        </p>
        <p>
            <label>Wachtwoord SSH:</label>
            <input name="passwordssh"/>
        </p>
        <p>
            <label>Terminal wachtwoord:</label>
           <input name="terminal" />
        </p>
        <button type="submit">k</button>
    </form>
</div>