@using DDFrAS;
@using DDFrAS.DDFrAS;
@{
    Page.Title = "Nieuw Script";
    Layout = "_Layout.cshtml";
}

@{
    if (IsPost)
    {
        //request form data
        string vlan = Request.Form["vlan"];
        string manip = Request.Form["manip"];
        string username = Request.Form["username"];
        string passwordssh = Request.Form["passwordssh"];
        string terminal = Request.Form["terminal"];

        //push form data to database
        Newvdbinputs.Newvars(vlan, manip, username, passwordssh, terminal);
    }
}

<div class="container text-left">
    <h1>Voer in:</h1>
    <form method="post">
        <p>
            <label>Vlan:</label>
            <input class="form-control" name="vlan" />
        </p>
        <p>
            <label>Management IP:</label>
            <input class="form-control" name="manip" />
        </p>
        <p>
            <label>Username SSH:</label>
            <input class="form-control" name="username" />
        </p>
        <p>
            <label>Wachtwoord SSH:</label>
            <input class="form-control" name="passwordssh" />
        </p>
        <p>
            <label>Terminal wachtwoord:</label>
            <input class="form-control" name="terminal" />
        </p>
        <button type="submit">k</button>
    </form>
</div>