@using Renci.SshNet;
@{
    Page.Title = "Title goes here";
    Layout = "~/DDFrAS/_Layout.cshtml";

    string ip = "192.168.1.174";
    string username = "user";
    string userpassword = "pass";
    string enablepass = "enablepass";
    string command = "conf t";

    var client = new SshClient(ip, username, userpassword);
    client.Connect();
}

<div>

</div>