@using DDFrAS;
@{
    Page.Title = "Switches";
    Layout = "~/DDFrAS/_Layout.cshtml";

    //get all the switches from database
    var grid = new WebGrid();
    using (var context = new DDFrASEntities()) { var switches = context.SWITCHes.ToList(); grid = new WebGrid(switches); }
}
<div class="">
    <div class="bg-dark text-white">
        <div class="container-lg col-10"><h4>Geplande scripts</h4></div>
    </div>
    <table class="table-responsive">
        @grid.Table(
        tableStyle: "table table-striped table-hover",
        columns: grid.Columns(
        grid.Column("Switch_Name", header: "Switch naam"),
        grid.Column("Man_IP", header: "Management ip"),
        grid.Column(format: @<a href="~/DDFrAS/Viewswitch.cshtml?id=@item.Switch_ID">Meer/wijzig</a>),
grid.Column(format: @<a href="~/DDFrAS/Viewswitch.cshtml?id=@item.Switch_ID&edit=true"></a>)))
    </table>
</div>


<div class="text-body container col border-top">
    <p><a href="~/DDFrAS/newswitch.cshtml">Nieuwe switch</a></p>
</div>

