@using DDFrAS;
@using System.Linq;
@{
    Page.Title = "Viewscript";
    Layout = "_Layout.cshtml";
    //request scriptid from url
    int configid = Request.QueryString["id"].AsInt();

    //Run script on buttonpush
    if (IsPost)
    {
        ASHangfire.AddTask(configid);
        Response.Redirect(string.Format("~/DDFrAS/viewscript.cshtml?id={0}",configid));
    }
    if (configid != 0)
    {
        //get config data from FE with id
        using (var context = new DDFrASEntities())
        {
            var config = context.CONFIGs.Find(configid);
            <form method="post" class="container">
                <div class="form-group">
                    <div>
                        <h6>Uitgevoerde script:</h6>
                        <p></p>
                        <textarea name="script" rows="12" class="form-control">@config.Script</textarea>
                    </div>
                    <button class="btn btn-danger">Voer uit</button>
                    <div class="border-bottom"></div>
                    <div>
                        <h7>Output:</h7>
                        <textarea name="script" rows="12" class="form-control">@config.Switch_Output</textarea>
                    </div>
                </div>
            </form>

        }
    }
    else { Response.Redirect("~/DDFrAS/viewscripts.cshtml"); }


}