@using DDFrAS;
@using System.Linq;
@{
    Page.Title = "Viewscript";
    Layout = "_Layout.cshtml";
    //request scriptid from url
    int id = Request.QueryString["id"].AsInt();

    if (id != 0)
    {
        //get config data from FE with id
        using (var context = new DDFrASEntities())
        {
            var config = context.CONFIGs.Find(id).Script;


            <div>
                <textarea name="script" style="width: 100%;height:100%" class="form-control">@config</textarea>
            </div>
        }
    }
    else {Response.Redirect("~/DDFrAS/viewscripts.cshtml");}


}